<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project Alpha</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                {% if project in projects %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ project.name }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
